@import "tailwindcss";

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.typed-cursor {
  display: inline-block;
  animation: blink 0.7s infinite;
  margin-left: 2px;
  vertical-align: baseline;
  position: relative;
  top: -0.1em;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-montreal);
  --font-mono: var(--font-neue-montreal);
  /* 5 Vibrant palette */
  --color-primary: #868b96;
  --color-secondary: #878593;
  --color-tertiary: #807a84;
  --color-quaternary: #677f8c;
  --color-quinary: #4a6b69;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-montreal);
}
